@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181818;
}

#active {
  color: white;
}

#active div {
  width: 50%;
}

.progress {
  animation: progress 4s;
}

.left-right {
}
@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.orig img {
  height:calc(205px * var(--s,1));
  width:calc(500px * var(--s,1));
}