@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181818;
}

.progress {
  animation: progress 4s;
}


@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.orig img {
  height:calc(205px * var(--s,1));
  width:calc(500px * var(--s,1));
}

@keyframes boot {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.boot {
  animation: boot;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}